@charset "utf-8";
.icon {
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
}
/*----==============account-sidebar==============----*/
.left-side-bar {
  width: 140px;
  margin: 15px 0;
  float: left;
  /* li hover span*/
}
.left-side-bar a {
  font-size: 14px;
  color: #5d5d5d;
}
.left-side-bar h3 {
  font-size: 14px;
  margin: 15px 0 10px;
  color: #5d5d5d;
}
.left-side-bar ul {
  list-style: none;
  border: 1px solid #f9f9f9;
}
.left-side-bar li {
  height: 30px;
  line-height: 33px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 3px solid transparent;
  padding-left: 30px;
  cursor: pointer;
}
.left-side-bar li:hover {
  background-color: #f8f8f8;
}
.left-side-bar li.acc-item-on {
  background-color: #2b6ab8;
  border-bottom: 3px solid #10428b;
}
.left-side-bar li.acc-item-on a {
  color: #fff;
}
.left-side-bar span {
  margin-right: 3px;
  margin-top: -3px;
}
.left-side-bar li.acc-overview span {
  width: 14px;
  height: 14px;
  background-position: -45px -40px;
}
.left-side-bar li.acc-safe span {
  width: 14px;
  height: 14px;
  background-position: -61px -40px;
}
.left-side-bar li.acc-trrecord span {
  width: 14px;
  height: 14px;
  background-position: -77px -40px;
}
.left-side-bar li.acc-pay span {
  width: 14px;
  height: 14px;
  background-position: -93px -40px;
}
.left-side-bar li.acc-bank span {
  width: 14px;
  height: 14px;
  background-position: -109px -40px;
}
.left-side-bar li.acc-inrecord span {
  width: 14px;
  height: 14px;
  background-position: -45px -72px;
}
.left-side-bar li.acc-agree span {
  width: 14px;
  height: 14px;
  background-position: -61px -72px;
}
.left-side-bar li.acc-overview.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -45px -56px;
}
.left-side-bar li.acc-safe.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -61px -56px;
}
.left-side-bar li.acc-trrecord.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -77px -56px;
}
.left-side-bar li.acc-pay.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -93px -56px;
}
.left-side-bar li.acc-bank.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -109px -56px;
}
.left-side-bar li.acc-inrecord.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -45px -88px;
}
.left-side-bar li.acc-agree.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -61px -88px;
}
/*----==============right-side-box==============----*/
.right-side-box {
  width: 820px;
  float: right;
}
