@charset "utf-8";
.icon {
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
}
/*----==============account-sidebar==============----*/
.left-side-bar {
  width: 140px;
  margin: 15px 0;
  float: left;
  /* li hover span*/
}
.left-side-bar a {
  font-size: 14px;
  color: #5d5d5d;
}
.left-side-bar h3 {
  font-size: 14px;
  margin: 15px 0 10px;
  color: #5d5d5d;
}
.left-side-bar ul {
  list-style: none;
  border: 1px solid #f9f9f9;
}
.left-side-bar li {
  height: 30px;
  line-height: 33px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 3px solid transparent;
  padding-left: 30px;
  cursor: pointer;
}
.left-side-bar li:hover {
  background-color: #f8f8f8;
}
.left-side-bar li.acc-item-on {
  background-color: #2b6ab8;
  border-bottom: 3px solid #10428b;
}
.left-side-bar li.acc-item-on a {
  color: #fff;
}
.left-side-bar span {
  margin-right: 3px;
  margin-top: -3px;
}
.left-side-bar li.acc-overview span {
  width: 14px;
  height: 14px;
  background-position: -45px -40px;
}
.left-side-bar li.acc-safe span {
  width: 14px;
  height: 14px;
  background-position: -61px -40px;
}
.left-side-bar li.acc-trrecord span {
  width: 14px;
  height: 14px;
  background-position: -77px -40px;
}
.left-side-bar li.acc-pay span {
  width: 14px;
  height: 14px;
  background-position: -93px -40px;
}
.left-side-bar li.acc-bank span {
  width: 14px;
  height: 14px;
  background-position: -109px -40px;
}
.left-side-bar li.acc-inrecord span {
  width: 14px;
  height: 14px;
  background-position: -45px -72px;
}
.left-side-bar li.acc-agree span {
  width: 14px;
  height: 14px;
  background-position: -61px -72px;
}
.left-side-bar li.acc-overview.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -45px -56px;
}
.left-side-bar li.acc-safe.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -61px -56px;
}
.left-side-bar li.acc-trrecord.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -77px -56px;
}
.left-side-bar li.acc-pay.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -93px -56px;
}
.left-side-bar li.acc-bank.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -109px -56px;
}
.left-side-bar li.acc-inrecord.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -45px -88px;
}
.left-side-bar li.acc-agree.acc-item-on span {
  width: 14px;
  height: 14px;
  background-position: -61px -88px;
}
/*----==============right-side-box==============----*/
.right-side-box {
  width: 820px;
  float: right;
}
.right-side-box h2 {
  line-height: 35px;
  margin-top: 30px;
  font-size: 20px;
  color: #5d5d5d;
  font-weight: bold;
  margin-bottom: 4px;
}
.right-side-box h2:after {
  content: "";
  display: block;
  height: 7px;
  background-image: url(../images/stripe_bg.png);
}
.tl-choose-type {
  font-size: 14px;
  font-weight: normal;
  color: #5d5d5d;
  height: 35px;
  line-height: 35px;
  background-color: #f8f8f8;
  margin-bottom: 15px;
}
.tl-choose-type h6 {
  font-size: 14px;
  font-weight: normal;
  color: #5d5d5d;
  margin-left: 17px;
  float: left;
}
.tl-choose-type ul.tl-all-type {
  float: right;
  font-size: 0;
  position: relative;
}
.tl-choose-type li {
  display: inline;
  font-size: 14px;
}
.tl-choose-type li a {
  display: inline-block;
  color: #5d5d5d;
  padding: 0 13px;
}
.tl-choose-type li a:hover {
  background-color: #eeeeee;
}
.tl-choose-type li.tl-current a {
  background-color: #2b6ab8;
  color: #fff;
}
.tl-choose-type li.tl-more {
  margin-right: 17px;
}
.tl-choose-type li.tl-more ul {
  position: absolute;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  padding: 5px 0;
  top: 34px;
  left: 145px;
}
.tl-choose-type li.tl-more li {
  display: block;
  text-align: center;
  padding: 0 10px;
  line-height: 20px;
  cursor: pointer;
}
.tl-choose-type li.tl-more li:hover {
  color: #2b6ab8;
}
.tl-choose-type li.tl-current.tl-more span {
  width: 12px;
  height: 12px;
  background-position: -144px -72px;
}
.tl-choose-type li span {
  width: 12px;
  height: 12px;
  background-position: -108px -72px;
  line-height: 35px;
  margin: -3px 0 0 6px;
}
.tl-fliter-ctrl {
  float: right;
  width: 255px;
}
.tl-fliter-ctrl a {
  display: inline-block;
  padding: 0 16px;
  line-height: 35px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
  color: #5d5d5d;
}
.tl-fliter-ctrl a span {
  width: 14px;
  height: 14px;
  background-position: -108px -88px;
  margin-top: -3px;
}
.tl-recent {
  position: relative;
  float: left;
  margin: 5px 20px 0 0;
  width: 132px;
  color: #5d5d5d;
}
.tl-recent input[type=text] {
  width: 80px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #e0e0e0;
  padding: 0 28px 0 10px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  color: #5d5d5d;
}
.tl-recent span {
  position: absolute;
  top: 6px;
  right: 20px;
  width: 12px;
  height: 12px;
  background-position: -108px -72px;
}
.tl-recent ul {
  position: absolute;
  border: 1px solid #e0e0e0;
  padding: 5px;
  width: 120px;
  z-index: 999;
  background-color: #fff;
}
.tl-recent ul li {
  padding-left: 5px;
  line-height: 20px;
  cursor: pointer;
}
.tl-recent ul li:hover {
  background-color: #eeeeee;
}
.tl-fliter {
  height: 35px;
  line-height: 35px;
  padding: 16px 20px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
  color: #5d5d5d;
}
.tl-fliter .tl-input-icon {
  display: inline-block;
  position: relative;
}
.tl-fliter .tl-input-icon span {
  position: absolute;
  top: 9px;
  right: 8px;
}
.tl-fliter .tl-icon-date span {
  width: 20px;
  height: 20px;
  background-position: -126px -38px;
}
.tl-fliter .tl-icon-money span {
  width: 20px;
  height: 20px;
  background-position: -148px -38px;
}
.tl-fliter input[type=text] {
  width: 75px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #e0e0e0;
  padding: 0 35px 0 10px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  background-color: #f8f8f8;
  color: #5d5d5d;
}
.tl-fliter a {
  margin-left: 15px;
}
.tl-fliter .tl-place {
  margin-right: 25px;
}
.tl-result table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse;
  color: #5d5d5d;
}
.tl-result table span {
  font-size: 20px;
}
.tl-result table td,
.tl-result table th {
  text-align: center;
}
.tl-result .tl-conclusion {
  background-color: #f8f8f8;
}
.tl-result .tl-conclusion tr {
  height: 55px;
}
.tl-result .tl-detail tr {
  height: 50px;
}
.tl-result .tl-detail tr:nth-child(odd) {
  background-color: #eeeeee;
}
.tl-result .tl-detail tr:nth-child(even) {
  background-color: #f8f8f8;
}
