@charset "utf-8";
.icon {
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
}
<<<<<<< HEAD
* {
  font-family: 'Microsoft Yahei';
}
=======
>>>>>>> origin/front-end
.main {
  width: 1016px;
  margin: 30px auto;
  font-size: 16px;
}
/*----===========proj_list.html============----*/
.project_list {
  margin-top: 10px;
}
.project_list .icon {
  margin-top: -2px;
  margin-right: 4px;
}
.project_list .icon_ding {
  width: 14px;
  height: 14px;
  background-position: -80px 0;
}
.project_list .icon_clock {
  width: 18px;
  height: 18px;
  background-position: -88px -16px;
}
.project_list .process_bar {
  width: 88px;
  height: 8px;
  background: #cacaca;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 4px 0 0;
  font-size: 0;
}
.project_list .process_bar.before {
  display: inline-block;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  border-radius: 4px;
  background: #43b518;
}
.project_list .pro_content .countdown {
  border: none;
  padding: 0;
  margin: 0;
}
.project_list .lc_project {
  width: 1016px;
  height: 180px;
  background-color: #f8f8f8;
  padding: 18px 0 0 40px;
  margin: 0 0 20px 0;
  color: #757575;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.project_list .lc_project tr {
  height: 30px;
}
.project_list .lc_project .proname {
  font-size: 20px;
  color: #5d5d5d;
  font-weight: bold;
}
.project_list .lc_project .proname span {
  font-size: 8px;
  font-weight: normal;
  margin-left: 6px;
}
.project_list .lc_project .fblue {
  font-size: 24px;
  color: #00347f;
  font-weight: bold;
}
.project_list .lc_project .fstrong {
  color: #5d5d5d;
  font-size: 22px;
}
.moreproj {
  width: 188px;
  margin: 18px auto;
}
/*----===========proj_list_more.html============----*/
.proj_filter {
  margin-bottom: 28px;
}
.proj_filter_option {
  color: #757575;
  font-size: 0px;
}
.proj_filter_option span {
  font-size: 16px;
  margin-right: 12px;
}
.proj_filter_option a {
  font-size: 16px;
  color: #757575;
  display: inline-block;
  border-radius: 6px;
  padding: 0 10px;
  margin: 0 12px;
  line-height: 26px;
  height: 26px;
  text-align: center;
}
.proj_filter_option a.selected {
  color: #fff;
  background-color: #2b6ab8;
}
.proj_filter_option > div {
  margin: 16px 0;
}
.proj_filter_sort {
  color: #757575;
  font-size: 0px;
}
.proj_filter_sort span {
  font-size: 16px;
}
.proj_filter_sort a {
  font-size: 16px;
  color: #757575;
  display: inline-block;
  padding: 0 14px;
  margin: 0 12px;
  line-height: 28px;
  height: 28px;
  border-bottom: 6px solid transparent;
  text-align: center;
}
.proj_filter_sort a.selected {
  color: #fff;
  background-color: #2b6ab8;
  border-bottom: 6px solid #0f4ca1;
}
/*----===========proj_info.html============----*/
div.about-bread {
  width: 100%;
  height: 40px;
  background-color: #2b6ab8;
}
div.about-bread .wrapper {
  width: 1016px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
}
div.about-bread .bread-target {
  color: #fff;
  margin-right: 35px;
}
div.about-bread .current {
  position: relative;
}
div.about-bread .current:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-color: transparent transparent #fff transparent;
  border-style: dashed dashed solid dashed;
  border-width: 7px;
}
.b-purchase-left {
  float: left;
  width: 570px;
  height: 330px;
  background-color: #f8f8f8;
  padding: 0 35px;
  color: #5d5d5d;
}
.b-purchase-left p {
  line-height: 32px;
}
.b-purchase-left h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 56px;
}
.b-purchase-left h3 span {
  font-weight: normal;
  font-size: 15px;
  float: right;
}
.b-purchase-left ul li {
  float: left;
  width: 190px;
  margin: 20px 0;
}
.b-purchase-left ul span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
.b-purchase-left ul span.pro-value {
  font-size: 28px;
}
.b-purchase-left ul #rate-value {
  color: #f6af46;
  font-weight: bold;
}
.b-purchase-left .b-progress {
  line-height: 45px;
}
.b-purchase-left .progress-value {
  position: relative;
}
.b-purchase-left .progress-value:before {
  content: "";
  display: inline-block;
  width: 410px;
  height: 12px;
  border-radius: 6px;
  background-color: #dcdddd;
  margin: 0 12px;
}
.b-purchase-left .progress-value:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 241.9px;
  height: 12px;
  border-radius: 6px;
  background-color: #43b518;
  margin: 0 12px;
}
.b-purchase-left .b-pro-restime {
  line-height: 30px;
  float: left;
}
.b-purchase-left .b-pro-restime .icon {
  width: 12px;
  height: 12px;
  background-position: -30px 0px;
  margin-top: -3px;
}
.b-purchase-left .b-identify {
  float: right;
}
.b-purchase-left .b-identify em {
  font-style: normal;
}
.b-purchase-left .b-identify .b-field-trip span {
  width: 22px;
  height: 22px;
  background-position: 0px -34px;
  margin: -1px 8px 0 0;
}
.b-purchase-left .b-identify .b-info-complete span {
  width: 22px;
  height: 22px;
  background-position: -22px -34px;
  margin: -2px 8px 0 22px;
}
.b-purchase-left .b-intercalc-way span.icon,
.b-purchase-left .repay-mode span.icon,
.b-purchase-left .secure-method span.icon {
  width: 10px;
  height: 10px;
  background-position: -16px 0;
  margin-top: -3px;
}
.b-purchase-left .secure-method {
  float: left;
}
.b-purchase-left .check-agree {
  float: right;
}
.b-purchase-left .check-agree a {
  color: #0f96d9;
}
.b-purchase-right {
  float: right;
  width: 360px;
  height: 330px;
  background-color: #f8f8f8;
  color: #5d5d5d;
}
.b-purchase-right .top-part {
  padding: 0 20px;
}
.b-purchase-right .top-part p {
  width: 100%;
  float: left;
  font-size: 18px;
  margin: 8px 0;
  line-height: 45px;
}
.b-purchase-right .top-part input[type=text] {
  width: 135px;
  height: 45px;
  padding: 0 10px;
  background-color: #f8f8f8;
  border: 1px solid #cbcbcb;
}
.b-purchase-right .top-part label {
  display: inline-block;
  width: 85px;
  text-align: right;
  margin: 0 25px 0 15px;
}
.b-purchase-right .top-part .b-restmoney {
  line-height: 20px;
  padding-left: 28px;
  box-sizing: border-box;
  margin: 20px 0 10px;
}
.b-purchase-right .top-part .b-restmoney span {
  color: #f6af46;
  margin-right: 15px;
  font-weight: 600;
}
.b-purchase-right .top-part span {
  margin-left: 15px;
}
.b-purchase-right .top-part input[type=submit] {
  display: inline-block;
  width: 155px;
  height: 45px;
  line-height: 45px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #2b6ab8 url(../images/buttons.png) no-repeat;
  background-position: -200px -38px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
  font-family: 'Microsoft Yahei';
  margin: 8px 0 22px 126px;
}
.b-purchase-right .bottom-part {
  padding: 0 20px;
  height: 75px;
  background-color: #eeeeee;
}
.b-purchase-right .bottom-part p {
  line-height: 30px;
}
.b-purchase-right .bottom-part .b-restmoney {
  padding-top: 10px;
}
.b-purchase-right .bottom-part .b-restmoney span.icon {
  width: 18px;
  height: 18px;
  background-position: -44px -16px;
  margin-right: 5px;
  margin-top: -4px;
}
.b-purchase-right .bottom-part .b-restime {
  padding-bottom: 5px;
}
.b-purchase-right .bottom-part .b-restime span.icon {
  width: 18px;
  height: 18px;
  background-position: -64px -16px;
  margin-right: 5px;
  margin-top: -4px;
}
.b-purchase-right .bottom-part span.pro-details {
  color: #f6af46;
}
ul.b-tabs {
  width: 100%;
  height: 45px;
  margin-top: 20px;
  background-color: #eeeeee;
  font-size: 22px;
  font-weight: bold;
}
ul.b-tabs li {
  line-height: 45px;
  display: inline-block;
  margin-top: -5px;
}
ul.b-tabs li a {
  color: #5d5d5d;
}
ul.b-tabs li.current a {
  display: inline-block;
  width: 134px;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: transparent url(../images/buttons.png) no-repeat;
  background-position: 0 -100px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
}
.b-main-content ul {
  margin-top: 30px;
}
.b-main-content ul h3 {
  font-size: 24px;
  color: #2b6ab8;
  font-weight: bold;
  line-height: 60px;
}
.b-main-content ul h3 span {
  width: 14px;
  height: 14px;
  background-position: -60px 0;
  margin-right: 14px;
  margin-top: -6px;
}
.b-main-content table {
  border: 1px solid #d7d8d8;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 15px;
  color: #5d5d5d;
}
.b-main-content table tr:nth-of-type(odd) {
  background-color: #f8f8f8;
  line-height: 25px;
}
.b-main-content table th {
  font-weight: normal;
}
.b-main-content .t1 th {
  width: 200px;
  border-right: 1px solid #d7d8d8;
  padding: 10px 25px;
}
.b-main-content .t1 td {
  padding: 10px 75px;
}
.b-main-content .t2 {
  text-align: center;
}
.b-main-content .t2 th,
.b-main-content .t2 td {
  width: 145px;
  padding: 10px 0;
  border-right: 1px solid #d7d8d8;
}
.busi-reco-content p {
  color: #757575;
  line-height: 40px;
  margin-top: 15px;
}
.busi-reco-content table tr {
  background-color: #f8f8f8;
  line-height: 25px;
  height: 40px;
}
.busi-reco-content table th,
.busi-reco-content table td {
  width: 250px;
  padding: 10px 0;
  border: 1px solid #d7d8d8;
}
