@charset "utf-8";
.icon {
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  background: url(../images/icons.png) no-repeat;
}
/*----------------样式初始化-------------------*/
body,
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
span,
a {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  cursor: default;
  position: relative;
  background: #fff;
  color: black;
  font-size: 14px;
  margin: 0px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
}
ul {
  list-style-type: none;
}
select,
input,
img,
select {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input,
button,
select,
textarea {
  outline: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clear {
  clear: both;
}
/*----==============header==============----*/
.header_top_bg {
  height: 36px;
  background-color: #2b6ab8;
  width: 100%;
}
.header_top {
  color: #fff;
  height: 36px;
  width: 1016px;
  margin: 0 auto;
  font-size: 12px;
}
.header_top a {
  color: #fff;
  display: inline-block;
  height: 36px;
  line-height: 36px;
}
.header_top p {
  display: inline;
  height: 36px;
  line-height: 36px;
}
.header_top_l {
  float: left;
}
.header_top_l p {
  margin-right: 34px;
}
.header_top_r {
  float: right;
}
.header_top_r a {
  margin-left: 18px;
}
.header_top_r a span {
  margin-right: 4px;
  margin-top: -1px;
  width: 13px;
  height: 13px;
  background-position: 0 0;
}
.header_main {
  height: 120px;
  width: 1016px;
  margin: 0 auto;
}
.header_main h1 {
  float: left;
  text-indent: -9999px;
  width: 152px;
  height: 60px;
  margin-top: 30px;
  background: url(../images/logo.png) no-repeat 0 0;
}
.header_main ul {
  float: right;
}
.header_main ul li {
  float: left;
}
.header_main ul li a {
  display: block;
  height: 120px;
  line-height: 120px;
  color: #5d5d5d;
  font-size: 18px;
  padding: 0 24px;
}
.header_main ul li a:hover {
  background-color: #f8f8f8;
  color: #2b6ab8;
}
.header_main ul li.selected a {
  background-color: #f8f8f8;
  color: #2b6ab8;
}
/*----==============footer==============----*/
.footer_top {
  height: 36px;
  background-color: #2b6ab8;
  color: #fff;
  margin-bottom: 6px;
}
.footer_nav {
  text-align: center;
}
.footer_nav li {
  display: inline;
}
.footer_nav a {
  height: 36px;
  line-height: 36px;
  color: #fff;
  font-size: 12px;
}
.footer_nav span {
  margin: 0 25px;
}
.footer_bottom_bg {
  background-color: #f8f8f8;
  height: 120px;
  width: 100%;
}
.footer_bottom {
  width: 1016px;
  font-size: 12px;
  margin: 0 auto;
  padding-top: 24px;
}
.footer_bottom_l {
  width: 500px;
  float: left;
}
.footer_bottom_l p {
  line-height: 22px;
}
.footer_bottom_r {
  width: 500px;
  float: right;
  text-align: right;
}
.footer_bottom_r span {
  font-size: 22px;
}
/*----==============buttons==================----*/
.oran_button_s {
  display: inline-block;
  width: 82px;
  height: 22px;
  line-height: 22px;
  border: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #f6af46 url(../images/buttons.png) no-repeat;
  background-position: 0 -160px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
}
.oran_button_l {
  display: inline-block;
  width: 114px;
  height: 32px;
  line-height: 32px;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f6af46 url(../images/buttons.png) no-repeat;
  background-position: 0 0;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
}
.blue_button_l {
  display: inline-block;
  width: 188px;
  height: 48px;
  line-height: 48px;
  border: 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background: #2b6ab8 url(../images/buttons.png) no-repeat;
  background-position: 0 -40px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
}
.blue_button_square {
  display: inline-block;
  width: 154px;
  height: 44px;
  line-height: 44px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background: #2b6ab8 url(../images/buttons.png) no-repeat;
  background-position: -200px -40px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
  cursor: pointer;
}
/*----==============container==============----*/
.container {
  width: 1016px;
  margin: 0 auto;
}
/*----==============about-bread==============----*/
div.about-bread {
  width: 100%;
  height: 40px;
  background-color: #2b6ab8;
}
div.about-bread .wrapper {
  width: 1016px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 40px;
}
div.about-bread .bread-target {
  color: #fff;
  margin-right: 35px;
}
div.about-bread .current {
  position: relative;
}
div.about-bread .current:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-color: transparent transparent #fff transparent;
  border-style: dashed dashed solid dashed;
  border-width: 7px;
}
/*----==============account-sidebar==============----*/
.left-side-bar {
  width: 140px;
  margin: 15px 0;
  float: left;
}
.left-side-bar a {
  font-size: 14px;
  color: #5d5d5d;
}
.left-side-bar h3 {
  font-size: 14px;
  margin: 15px 0 10px;
  color: #5d5d5d;
}
.left-side-bar ul {
  list-style: none;
  border: 1px solid #f9f9f9;
}
.left-side-bar li {
  height: 30px;
  line-height: 33px;
  border-top: 1px solid #f9f9f9;
  border-bottom: 3px solid transparent;
  padding-left: 30px;
  cursor: pointer;
}
.left-side-bar li:hover {
  background-color: #f8f8f8;
}
.left-side-bar li.acc-item-on {
  background-color: #2b6ab8;
  border-bottom: 3px solid #10428b;
}
.left-side-bar li.acc-item-on a {
  color: #fff;
}
.left-side-bar span {
  margin-right: 3px;
}
