@charset"utf-8";
@import url(functs.less);
/*----==============account-sidebar==============----*/
.left-side-bar{
	width: 140px;
	margin: 15px 0;
	float: left;
	a{
		font-size:14px;
		.fgrey2();
	}
	h3{
		font-size:14px;
		margin: 15px 0 10px;
		.fgrey2();
	}
	ul{
		list-style: none;
		border: 1px solid #f9f9f9;
	}
	li{
		height: 30px;
		line-height: 33px;
		border-top: 1px solid #f9f9f9;
		border-bottom: 3px solid transparent;
		padding-left: 30px;
		cursor: pointer;
	}
	li:hover{
		background-color: @bg_grey;
	}
	li.acc-item-on{
		a{
			color: #fff;
		}
		background-color: @default_blue;
		border-bottom: 3px solid #10428b;

	}
	span{
		margin-right: 3px;
		margin-top: -3px;
	}
	li.acc-overview span{
		.icons(14px,14px,-45px,-40px);
	}
	li.acc-safe span{
		.icons(14px,14px,-61px,-40px);
	}
	li.acc-trrecord span{
		.icons(14px,14px,-77px,-40px);
	}
	li.acc-pay span{
		.icons(14px,14px,-93px,-40px);
	}
	li.acc-bank span{
		.icons(14px,14px,-109px,-40px);
	}
	li.acc-inrecord span{
		.icons(14px,14px,-45px,-72px);
	}
	li.acc-agree span{
		.icons(14px,14px,-61px,-72px);
	}
	/* li hover span*/
	li.acc-overview.acc-item-on span{
		.icons(14px,14px,-45px,-56px);
	}
	li.acc-safe.acc-item-on span{
		.icons(14px,14px,-61px,-56px);
	}
	li.acc-trrecord.acc-item-on span{
		.icons(14px,14px,-77px,-56px);
	}
	li.acc-pay.acc-item-on span{
		.icons(14px,14px,-93px,-56px);
	}
	li.acc-bank.acc-item-on span{
		.icons(14px,14px,-109px,-56px);
	}
	li.acc-inrecord.acc-item-on span{
		.icons(14px,14px,-45px,-88px);
	}
	li.acc-agree.acc-item-on span{
		.icons(14px,14px,-61px,-88px);
	}
}
/*----==============right-side-box==============----*/
.right-side-box{
	width: 820px;
	float: right;
	h2{
		line-height: 35px;
		margin-top: 30px;
		font-size: 20px;
		.fgrey2();
		font-weight: bold;
		margin-bottom: 4px;
	}
	h2:after{
		content: "";
		display: block;
		height: 7px;
		background-image: url(../images/stripe_bg.png);
	}
}

/*----=============tradeLog.html交易记录===================----*/
.tl-choose-type{
	font-size: 14px;
	font-weight: normal;
	.fgrey2();
	height: 35px;
	line-height: 35px;
	background-color: @bg_grey;
	margin-bottom: 15px;
	h6{
		font-size: 14px;
		font-weight: normal;
		.fgrey2();
		
		margin-left: 17px;
		float: left;
	}
	ul.tl-all-type{
		float: right;
		font-size: 0;
		position: relative;	
	}
	li{
		display: inline;
		font-size: 14px;
		a{
			display: inline-block;
			.fgrey2();
			padding: 0 13px;
			&:hover{
				background-color: @bg_grey2;
			}
		}
		&.tl-current{
			a{
				background-color: @default_blue;
				color: #fff;
			}
		}
		&.tl-more{
			margin-right: 17px;
			ul{
				position: absolute;
				border: 1px solid #e0e0e0;
				background-color: #fff;
				padding: 5px 0;
				top:34px;
				left: 145px;
			}
			li{
				display: block;
				text-align: center;
				padding: 0 10px;
				line-height: 20px;
				cursor: pointer;
				&:hover{
					color: @default_blue;
				}
			}
		}
		&.tl-current.tl-more{
			span{
				.icons(12px,12px,-144px,-72px);
			}
		}
		span{
			.icons(12px,12px,-108px,-72px);
			line-height: 35px;
			margin: -3px 0 0 6px;
		}
	}
}
.tl-fliter-ctrl{
	float: right;
	width: 255px;
	a{
		display: inline-block;
		padding: 0 16px;
		line-height: 35px;
		padding-bottom: 10px;
		background-color: @bg_grey;
		.fgrey2();
		span{
			.icons(14px,14px,-108px,-88px);
			margin-top: -3px;
		}
	}
}
.tl-recent{
	position: relative;
	float: left;
	margin: 5px 20px 0 0;
	width: 132px;
	.fgrey2();
	input[type=text]{
		width: 80px;
		height: 25px;
		line-height: 25px;
		border: 1px solid #e0e0e0;
		padding: 0 28px 0 10px;
		font-family: "Microsoft Yahei";
		font-size: 14px;
		.fgrey2();
	}
	span{
		position: absolute;
		top: 6px;
		right: 20px;
		.icons(12px,12px,-108px,-72px);
	}
	ul{
		position: absolute;
		border: 1px solid #e0e0e0;
		padding: 5px;
		width: 120px;
		z-index: 999;
		background-color: #fff;
		li{
			padding-left: 5px;
			line-height: 20px;
			cursor: pointer;
			&:hover{background-color: @bg_grey2;}
		}
	}
}
.tl-fliter{
	height: 35px;
	line-height: 35px;
	padding: 16px 20px;
	background-color: @bg_grey;
	margin-bottom: 20px;
	.fgrey2();
	.tl-input-icon{
		display: inline-block;
		position: relative;
		span{
			position: absolute;
			top: 9px;
			right: 8px;
		}
	}
	.tl-icon-date{
		span{
			.icons(20px,20px,-126px,-38px);
		}
	}
	.tl-icon-money{
		span{
			.icons(20px,20px,-148px,-38px);
		}
	}
	input[type=text]{
		width: 75px;
		height: 35px;
		line-height: 35px;
		border: 1px solid #e0e0e0;
		padding: 0 35px 0 10px;
		font-family: "Microsoft Yahei";
		font-size: 14px;
		background-color: @bg_grey;
		.fgrey2();
	}
	a{
		margin-left: 15px;
	}
	.tl-place{
		margin-right: 25px;
	}
}
.tl-result{
	table{
		width: 100%;
		margin-bottom: 15px;
		border-collapse: collapse;
		.fgrey2();
		span{
			font-size: 20px;
		}
		td,th{
			text-align: center;
		}
	}
	.tl-conclusion{
		background-color: @bg_grey;
		tr{
			height: 55px;
		}
	}
	.tl-detail{
		tr{
			height: 50px;
		}
		tr:nth-child(odd){
			background-color: @bg_grey2;
		}
		tr:nth-child(even){
			background-color: @bg_grey;
		}
	}
}



/*----==============index.html==============----*/
.person-wrap{

}
.person-top{
	height: 80px;
	width: 100%;
	background-color: @bg_grey;
	.borderbox();
	padding: 14px 100px 0 34px;
	position: relative;
	margin-bottom: 14px;
	.greet{
		color:@default_oran;
		line-height: 26px;
	}
	.last-login{
		.fgrey2();
		line-height: 26px;
	}
	.secure-level{
		position: absolute;
		bottom: 20px;
		right: 100px;
		.processbar{
			margin-left: 10px;
		}
		a{
			color: @default_blue;
		}
	}
}
.person-main{
	height: 270px;
	background-color: @bg_grey;
	.borderbox();
	padding: 16px 34px;
	.fgrey2();

	.per-assets{
		.fl(l);
	}
	.per-balance{
		.fl(l);
		margin-left: 320px;
	}
	.total-income{
		line-height: 30px;
	}
	.total-num{
		line-height: 60px;
		span{
			.ft(45px);
			margin-right: 5px;
		}
	}
	.assets-list{
		margin-top: 10px;
		li{
			height: 30px;
			line-height: 30px;
		}
		span{
			margin: -4px 4px 0 0;
		}
		span[data-assets-list="ben"]{
			.icons(18px,18px,-109px,-16px);
		}
		span[data-assets-list="shou"]{
			.icons(18px,18px,-129px,-16px);
		}
		span[data-assets-list="dong"]{
			.icons(18px,18px,-149px,-16px);
		}
		span[data-assets-list="jiang"]{
			.icons(18px,18px,-169px,-16px);
		}
	}
}
.account-trade{
	margin-top: 24px;
	.repayment{
		width: 440px;
		.fl(l);
	}
	.trrecord{
		width: 354px;
		.fl(r);
	}
	.record-name{
		span{
			.fgrey2();
			.ft(22px);
		}
		a{
			.fl(r);
		}
	}
	.record-detail{
		.fgrey2();
		border-collapse: collapse;
		width: 100%;
		margin-top: 10px;
		th,td{
			padding: 0 4px;
		}
		thead th{
			.ft(14px);
			font-weight: normal;
			background: @bg_grey2;
			height: 49px;
			&:last-child{
				line-height: 24px;
			}
		}
		tbody td{
			background: @bg_grey;
			height: 42px;
			border-bottom: 1px solid @bg_grey2;
			&:last-child{
				border-bottom:none;
			}
		}
	}
}


/*----==============securityCenter.html==============----*/
.security{
	.fgrey1();
	width: 100%;
	height: 330px;
	background-color: @bg_grey;
	.borderbox();
	padding: 25px 44px;
	.secure-level{
		height: 30px;
		line-height: 30px;
		margin-bottom: 14px;
		.processbar{
			margin: 0 10px;
			.process_bar(230px,10px,#42b518,30px);
			&.high{
				color: #42b518;
				&:after{
					width: 160px;
					background: #42b518 url(../images/buttons.png) no-repeat 0 -290px;
				}
			}
		}
		.advice{
			color: red;
		}
	}	
}
.protected-wrap{
	.icon{
		margin-right: 5px;
		margin-top: -3px;
	}
	.icon.well{
		.icons(14px,14px,-80px,0);
	}
	.icon.bad{
		.icons(14px,14px,-97px,0);
	}
	tr{
		height: 36px;
	}
	.applypassword{
		.processbar{
			.process_bar(120px,10px,#ff4102,36px);
			margin: 0 10px;
		}
	}
	.operate{
		a{
			text-decoration: underline;
			margin: 0 6px;
			.fgrey1();
		}
	}
}
.sec-tip{
	background: @bg_grey;
	padding: 10px 44px 26px;
	margin: 20px 0;
	p{
		.fgrey1();
		line-height: 24px;
		&:first-child{
			.ft(16px);
			line-height: 40px;
		}
	}
}








