@charset"utf-8";
@import url(functs.less);
.main{
	width: @maxwidth;
	margin: 30px auto;
	font-size: 16px;
}
/*----===========proj_list.html============----*/
.project_list{
	margin-top: 10px;
	.icon{
		margin-top: -2px;
		margin-right: 4px;
	}
	.icon_ding{
		.icons(14px,14px,-80px,0);
	}
	.icon_clock{
		.icons(18px,18px,-88px,-16px);
	}
	.process_bar{
		width: 88px; height: 8px;
		background: #cacaca;
		border-radius: 4px;
		display: inline-block;
		vertical-align: middle;
		margin: -3px 4px 0 0;
		font-size: 0;
		&.before{
			display: inline-block;
			position: absolute;
			margin: 0;
			width: 0;
			height: 0;
			border-radius: 4px;
			background: #43b518;
		}
	}
	.pro_content {
		.countdown{ border: none; padding: 0; margin: 0; }
	}	
	.lc_project{
		width: @maxwidth; height: 180px;
		background-color: @bg_grey;
		padding: 18px 0 0 40px;
		margin: 0 0 20px 0;
		.fgrey1();
		.borderbox();
		tr{
			height: 30px;
		}
		.proname{
			.ft(20px);
			.fgrey2();
			font-weight: bold;
			span{
				.ft(8px);
				font-weight: normal;
				margin-left: 6px;
			}
		}
		.fblue{
			.ft(24px);
			color: #00347f;
			font-weight: bold;
		}
		.fstrong{
			.fgrey2();
			.ft(22px);
		}
	}
}
.moreproj{ width: 188px; margin: 18px auto;}

/*----===========proj_list_more.html============----*/
.proj_filter{
	margin-bottom: 28px;
}
.proj_filter_option{
	.fgrey1();
	.ft(0px);
	span{
		.ft(16px);
		margin-right: 12px;
	}
	a{
		.ft(16px);
		.fgrey1();
		display: inline-block;
		border-radius: 6px;
		padding: 0 10px;
		margin: 0 12px;
		line-height: 26px;
		height: 26px;
		text-align: center;
		&.selected{
			.fwhite();
			background-color: @default_blue;
		}
	}
	&>div{
		margin: 16px 0;
	}
}
.proj_filter_sort{
	.fgrey1();
	.ft(0px);
	span{
		.ft(16px);
	}
	a{
		.ft(16px);
		.fgrey1();
		display: inline-block;
		padding: 0 14px;
		margin: 0 12px;
		line-height: 28px;
		height: 28px;
		border-bottom: 6px solid transparent;
		text-align: center;
		&.selected{
			.fwhite();
			background-color: @default_blue;
			border-bottom: 6px solid #0f4ca1;
		}
	}
}


/*----===========proj_info.html============----*/
div.about-bread{
	width: 100%;
	height: 40px;
	background-color: @default_blue;
	.wrapper{
  	width: @maxwidth;
  	margin: 0 auto;
  	font-size: 16px;
  	line-height: 40px;
  }
  .bread-target{
  	.fwhite();
  	margin-right: 35px;
  }
  .current{
  	position: relative;
  	&:after{
  		content: "";
  		display: inline-block;
  		position: absolute;
  		top: 17px;
  		left: 50%;
  		margin-left: -7px;
  		width: 0;
  		height: 0;
  		border-color: transparent transparent #fff transparent;
  		border-style: dashed dashed solid dashed;
  		border-width: 7px;  
  	}
  }
}

.b-purchase-left{
	p{
		line-height: 32px;
	}
	width: 570px;
	height: 330px;
	background-color: @bg_grey;
	padding: 0 35px;
	.fgrey2();
	h3{
		font-size: 20px;
		font-weight: bold;
		line-height: 56px;
		span{
			font-weight: normal;
			font-size: 15px;
			float: right;
		}
	}
	ul{
		li{
			float: left;
			width: 190px;
			margin: 20px 0;
		}
		span{
			display: block;
			width: 100%;
			text-align: center;
			font-size: 15px;
		}
		span.pro-value{
			font-size: 28px;
		}
		#rate-value{
			color: @default_oran;
			font-weight: bold;
		}
	}
	.b-progress{
		line-height: 45px;
	}
	.progress-value{
		@prowidth:410px;
		@proheight:12px;
		position: relative;
		&:before{
			content: "";
			display: inline-block;
			width: @prowidth;
			height: @proheight;
			border-radius: @proheight/2;
			background-color:#dcdddd;
			margin: 0 12px;
		}
		&:after{
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			display: inline-block;
			width: @prowidth*0.59;
			height: @proheight;
			border-radius: @proheight/2;
			background-color:#43b518;
			margin: 0 12px;
		}
	}
	.b-pro-restime{
		line-height: 30px;
		float: left;
		.icon{
			.icons(12px,12px,-30px,0px);
			margin-top: -3px;
		}
	}
	.b-identify{
		float: right;
		em{
			font-style: normal;
		}
		.b-field-trip{
			span{
				.icons(22px,22px,0px,-34px);
				margin:-1px 8px 0 0;
			}
		}
		.b-info-complete{
			span{
				.icons(22px,22px,-22px,-34px);
				margin: -2px 8px 0 22px;
			}
		}
	}
	.b-intercalc-way,
	.repay-mode,
	.secure-method
	{
		span.icon{
			.icons(10px,10px,-16px,0);
			margin-top: -3px;
		}
	}
	.secure-method{
		float: left;
	}
	.check-agree{
		float: right;
		a{
			color: #0f96d9;
		}
	}
}
